.ChannalInfo {
  display: flex;
  align-items: center;
  width: 100%;

  img {
    width: 30px;
    height: 30px;
    border-radius: 70%;
    object-fit: cover;
    overflow: hidden;
    margin-right: 10px;
  }
}
