@import './styles/base/normalize';
@import './styles/base/globals';
@import './styles/constants/breakpoints';

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $lg-breakpoint;
  margin: 0 auto;
  color: #fff;

  a {
    color: #fff;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
