@import './styles/base/normalize';
@import './styles/base/reset';
@import './styles/base/globals';
@import './styles/constants/breakpoints';

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $lg-breakpoint;
  background-color: #ccc;
  margin: 0 auto;
}
